.DS_Store
**old
README.html
__pycache__
dist/
*egg/
*egg-info/
documentation/*.dia~
documentation/*.html
examples/.ipynb_checkpoints
examples/Untitled.ipynb
source/EtalonDrift2Model.py
source/EtalonDrift3Model.py
source/EtalonDrift4Model.py
source/EtalonDrift5Model.py
source/FreeShape*Model.py
source/__pycache__
source/kernels/__pycache__
test/__pycache__
test/TESTAll.py
test/TESTFreeShape*
test/testresults*
*~
*.pyc
