.DS_Store
**old
README.html
__pycache__
dist/
build/
*egg/
*egg-info/
BayesicFitting/documentation/*.dia~
BayesicFitting/documentation/*.html
BayesicFitting/examples/.ipynb_checkpoints
BayesicFitting/examples/Untitled.ipynb
BayesicFitting/source/__pycache__
BayesicFitting/source/kernels/__pycache__
BayesicFitting/test/__pycache__
BayesicFitting/test/TESTAll.py
BayesicFitting/test/TESTFreeShape*
BayesicFitting/test/testresults*
*~
*.pyc
