include BayesicFitting/examples/*.ipynb
include BayesicFitting/examples/data/*.csv
include BayesicFitting/documentation/images/*.dia
include BayesicFitting/documentation/images/*.png
include BayesicFitting/documentation/*.md

