include BayesicFitting/examples/*.ipynb
include BayesicFitting/examples/data/*.csv
include BayesicFitting/documentation/*.dia
include BayesicFitting/documentation/*.png
include BayesicFitting/documentation/*.md

